@import "../../base"
$HeaderColor: #5e5edf
$headerFontColor: white
$star-color:yellow
.Header,.footer
    background-color: $HeaderColor
    color: $headerFontColor
    height: 50px
.star-color
    color:$star-color
.menu-section 
    text-align: right
.menu-section i
    padding:6px
.filter-section 
    border: 1px solid #c4c3c3
.active
    color:$HeaderColor
    border-bottom: 1px solid
    padding-bottom: 10px
    font-family: Vardana
.prod-image img 
    width: 100%
    max-width: 100%
i.fa.fa-circle 
    position: absolute
    right: 8px
    color: red
    bottom: 18px
.cart-count
    position: absolute
    right: 17px
    font-size: 10px
    top: 4.5px
.search-text
    background-color: transparent
    border-bottom: 1px solid white
    border-top: none
    border-left: none
    border-right: none
    border-radius: 4px
    color: white
    position: relative
    left: 30px
.search-text:focus 
    box-shadow: 0 0 10px #333
    outline: 0!important
p,span,h1,div,button,input,b,h6
    font-family: vardana
.show-in-mobile
    display: none
@media (max-width: 768px)
    .col-md-6
        width:50%
    .hide-in-mobile
        display: none
    .full-width
        width:100%
        max-width:100%
        flex:100%
    .two-item-in-row
        flex: 0 0 50%
        max-width: 50%
        padding: 0px 5px
        border: 1px solid #c3c3c3
    .show-in-mobile
        display: flex